{{!-- <nav class="navbar navbar-expand-lg shadow-5-strong sticky-top"> --}}
  <nav class="navbar navbar-expand-sm fixed-top navbar-light">
  <a class="navbar-brand text-white" href="#">PoST</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-white" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
     <form class="form-inline my-2 my-lg-0">
      <a class="mx-5 text-white" href="login">Login</a>
      <a class="btn btn-primary my-2 my-sm-0" href="register" type="submit">Sign Up for free</a>
    </form>
    
  </div>
</nav>


